:root {
    --animation-speed: 37s;
}
.homepage{
    position: relative;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: black;
}
@media screen and (max-width: 566px) {
.homepage .ticker{
	padding: 5%;
}
}